<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Super Market Management</title>
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />
    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand-sm bg-dark bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/home/index">Home</a>
                            <a class="nav-link" href="/categories/index">Categories</a>                       
                        </div>
                    </div>
                </div>
            </nav>          
        </header>

        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>